<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="@Href("~/Shared/style.css")" type="text/css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                @RenderPage("~/Shared/_Header.cshtml")
            </header>
            <br />
            <div>
                <ul class="nav nav-pills">
                    <li><a href="~/Locations.cshtml">Locations</a></li>
                    <li><a href="~/Order.cshtml">Place Order</a></li>
                    <li><a href="~/ContactUs.cshtml">Contact Us</a></li>
                </ul>
            </div>
            <div>
                @RenderBody()
            </div>
            <footer>
                @RenderPage("~/Shared/_Footer.cshtml")
            </footer>
        </div>
    </body>
</html>
