@{
    Layout = "~/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <br />
        <h3 class="col-xs-4">Hours: 8:00 AM - 5:00 PM</h3>
        <h3 class="col-xs-4">Phone: 0-123-456-7890</h3>
        <h3 class="col-xs-4">Email: JacesDeli@mail.com</h3>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <blockquote class="blockquote col-xs-4">
            "Best deli I've ever been to, believe me! Everyone needs to try Jace's Deli at least once in their life!"
            <cite>Donald Trump</cite>
        </blockquote>
        <blockquote class="blockquote col-xs-4">
            "Did I die and go to heaven? Can food be this healthy and yummy at the same time?"
            <cite>Hillary Clinton</cite>
        </blockquote>
    </body>
</html>
