@{
    Layout = "~/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>Email: JacesDeli@mail.com</div>
        <div>Phone: 0-123-456-7890</div>
    </body>
</html>
