@{
    Layout = "~/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @{ 
        //string[] food = { "Sandwich", "Hamburger", "Salad" };
        //string[] drink = { "Water", "Rootbeer", "Sprite" };
        //string[] dessert = { "Cookie", "Chips" };
    }
    <form method="get" action="~/OrderDetails.cshtml">
        <h3>Food</h3>
        Sandwich:<input type="checkbox" value="Sandwich" name="Food" />
        Hamburger:<input type="checkbox" value="Hamburger" name="Food" />
        Salad:<input type="checkbox" value="Salad" name="Food" /> 
        <h3>Drink</h3>
        Water:<input type="checkbox" value="Water" name="Drink" />
        Rootbeer:<input type="checkbox" value="Rootbeer" name="Drink" />
        Sprite:<input type="checkbox" value="Sprite" name="Drink" /> 
        <h3>Dessert</h3>
        Cookie:<input type="checkbox" value="Cookie" name="Dessert" />
        Chips:<input type="checkbox" value="Chips" name="Dessert" />
        <br />
        <br />
        <br />
        <br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>
